* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97px;
  padding: 20px 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 5px;
}
.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c59c42;
  mix-blend-mode: overlay;
}
.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 15em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3 {
  padding-left: 100;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  position: relative;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover {
  color: #03a9f4;
}

nav {
  flex: 1;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 7px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
}
nav ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
nav ul li a:hover {
  transform: scale(1.2) translateY(0px);
}
